node-red/sample4.json
[{"id":"c6740a6b.3ab1d8","type":"inject","z":"c424eb09.cc3e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":180,"wires":[["5d8106c3.d7db58"]]},{"id":"5d8106c3.d7db58","type":"storage remaining life","z":"c424eb09.cc3e08","name":"","x":360,"y":180,"wires":[["5f701001.3d98f"]]},{"id":"5f701001.3d98f","type":"inspect","z":"c424eb09.cc3e08","name":"","field":"payload","condition":"UpperRange","triggerOnMatchOnly":true,"threshold":"","innerRangeMinThreshold":"","innerRangeMaxThreshold":"","outerRangeMinThreshold":"","outerRangeMaxThreshold":"","lowerRangeThreshold":"","upperRangeThreshold":"80","x":579.1000366210938,"y":179.8000030517578,"wires":[["e36a9b8c.353138"]]},{"id":"e36a9b8c.353138","type":"notify via mqtt","z":"c424eb09.cc3e08","name":"Notify End Of Life","topic":"EndOfLife","x":790,"y":180,"wires":[]}][{"id":"c6740a6b.3ab1d8","type":"inject","z":"c424eb09.cc3e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":180,"wires":[["5d8106c3.d7db58"]]},{"id":"5d8106c3.d7db58","type":"storage remaining life","z":"c424eb09.cc3e08","name":"","x":360,"y":180,"wires":[["5f701001.3d98f"]]},{"id":"5f701001.3d98f","type":"inspect","z":"c424eb09.cc3e08","name":"","field":"payload","condition":"UpperRange","triggerOnMatchOnly":true,"threshold":"","innerRangeMinThreshold":"","innerRangeMaxThreshold":"","outerRangeMinThreshold":"","outerRangeMaxThreshold":"","lowerRangeThreshold":"","upperRangeThreshold":"80","x":579.1000366210938,"y":179.8000030517578,"wires":[["e36a9b8c.353138"]]},{"id":"e36a9b8c.353138","type":"notify via mqtt","z":"c424eb09.cc3e08","name":"Notify End Of Life","topic":"EndOfLife","x":790,"y":180,"wires":[]}]