node-red/sample2.json
[{"id":"1d6c4661.6e438a","type":"data port","z":"27b16a2b.97a816","name":"","portId":"sampleInput","x":180,"y":140,"wires":[["5beeb89.786f648","700c2a20.b458a4"]]},{"id":"5beeb89.786f648","type":"storage","z":"27b16a2b.97a816","streamId":"stream1","streamType":"store_json","dataBuffer":"","dataReduction":"","dataPrune":"","name":"","x":480,"y":140,"wires":[[]]},{"id":"700c2a20.b458a4","type":"json","z":"27b16a2b.97a816","name":"","pretty":false,"x":270,"y":300,"wires":[["95760d0b.edfa9"]]},{"id":"95760d0b.edfa9","type":"function","z":"27b16a2b.97a816","name":"To Number","func":"msg.payload =Number(msg.payload.data)\nreturn msg;","outputs":1,"noerr":0,"x":496.10003662109375,"y":301,"wires":[["58f99527.18e1ec"]]},{"id":"58f99527.18e1ec","type":"inspect","z":"27b16a2b.97a816","name":"","field":"payload","condition":"MatchThreshold","triggerOnMatchOnly":true,"threshold":"1","innerRangeMinThreshold":"","innerRangeMaxThreshold":"","outerRangeMinThreshold":"","outerRangeMaxThreshold":"","lowerRangeThreshold":"","upperRangeThreshold":"","x":680,"y":300,"wires":[["c7a86c9c.a9a3d"]]},{"id":"c7a86c9c.a9a3d","type":"notify via mqtt","z":"27b16a2b.97a816","name":"SampleEvent","topic":"SampleEvent","x":855.1000366210938,"y":298.3999938964844,"wires":[]}]