node-red/sample5.json
[{"id":"782b7859.1d53e8","type":"mqtt in","z":"7cde63c4.f15bec","name":"","topic":"StorageFull","qos":"2","broker":"a1d91907.366fd8","x":250,"y":120,"wires":[["842a1a78.1ff278"]]},{"id":"842a1a78.1ff278","type":"function","z":"7cde63c4.f15bec","name":"format event","func":"var event = {\n    time: new Date().toLocaleString(),\n    topic: msg.topic,\n    payload: msg.payload\n}\n\nvar events = context.get('events')|| [];\n//events.push(event);\nevents.unshift(event);\ncontext.set('events', events);\n\nmsg = {};\nmsg.payload = events;\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":120,"wires":[["35225789.55d468"]]},{"id":"35225789.55d468","type":"ui_template","z":"7cde63c4.f15bec","group":"acc89d14.5bfc8","name":"Events","order":0,"width":"12","height":"13","format":"<html>\n  <head>\n    <style>\n      #events {\n        font-family: \"Trebuchet MS\", Arial, Helvetica, sans-serif;\n        border-collapse: collapse;\n        width: 100%;\n      }\n      \n      #events td, #events th {\n        border: 1px solid #097479;\n        padding: 8px;\n      }\n      \n      #events tr:hover {\n        background-color: #ddd;\n      }\n      \n      #events th {\n        padding-top: 12px;\n        padding-bottom: 12px;\n        text-align: left;\n        background-color: #097479;\n        color: white;\n      }\n    </style>\n  </head>\n  <body>\n    <table id=\"events\" style=\"overflow:scroll\">\n      <tr>\n        <th style=\"text-align: center\" width=\"30%\" height=\"20px\">Time</th>\n        <th style=\"text-align: center\" width=\"50%\" height=\"20px\">Topic</th>\n        <th style=\"text-align: center\" width=\"20%\" height=\"20px\">Value</th>\n      </tr>\n      \n      <tr ng-repeat=\"event in msg.payload\">\n        <td style=\"text-align: center\">{{event.time}}</td>\n        <td style=\"text-align: center\">{{event.topic}}</td>\n        <td style=\"text-align: center\">{{event.payload}}</td>      \n      </tr>\n    </table>\n  </body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":818,"y":118,"wires":[[]]},{"id":"a1d91907.366fd8","type":"mqtt-broker","z":"","broker":"10.10.33.161","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"acc89d14.5bfc8","type":"ui_group","z":"","name":"Events","tab":"48d46d3e.200784","order":2,"disp":true,"width":"12"},{"id":"48d46d3e.200784","type":"ui_tab","z":"","name":"Demo-Events","icon":"dashboard"}]