node-red/sample0.json
[{"id":"90e771ba.43a7d8","type":"inject","z":"29e874b0.9f8ca4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":252,"y":157,"wires":[["e64870af.bab13"]]},{"id":"394fe7dd.dd2628","type":"inject","z":"29e874b0.9f8ca4","name":"","topic":"injectEvent","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":255,"y":306,"wires":[["e64870af.bab13"]]},{"id":"e64870af.bab13","type":"function","z":"29e874b0.9f8ca4","name":"data fusion","func":"if (msg.topic === 'injectEvent') {\n    context.set('data', 1);\n    return;\n}\n\nvar data = context.get('data') || 0;\ncontext.set('data', 0);\n\nvar payload = {\n    timestamp: msg.payload,\n    data: data\n}\nreturn { payload: payload };","outputs":1,"noerr":0,"x":504,"y":220,"wires":[["aa07294e.0e3658"]]},{"id":"aa07294e.0e3658","type":"data pipe","z":"29e874b0.9f8ca4","device":"","port":"sampleInput","name":"","x":806,"y":219,"wires":[[]]}]